---
layout: landing
---

<section id="banner" style="justify-content:center; height:100vh; text-align: center;">
  <div class="inner"> 
    <h2 href="images/mariner.png">
      <img src="images/mariner.png" style="margin-bottom:-15px; margin-right:15px; height:2em; width:auto;">
      {{ site.title }}
    </h2>
    <h4>{{ site.description | markdownify }}</h4>
    <p><a href="https://dev.azure.com/mariner-org/_apis/resources/Containers/4592513?itemPath=Mariner%20FULL%20ISO/full-1.0.MM4.200512.1840.iso" class="button special">
      Download Mariner</a>
    </p>
  </div>
  <a href="#about-mariner" class="more scrolly">About Mariner</a>
</section>

<section id="about-mariner" class="wrapper style1 special">
  {% include sections/about-mariner.html %}
</section>

<section id="get-mariner" class="wrapper style2 special">
  {% include sections/get-mariner.html %}
</section>
<!--
<section id="news-and-updates" class="wrapper style1 special">
  {% include sections/news-and-updates.html %}
</section>

<section id="documentation" class="wrapper style2 special">
{% include sections/documentation.html %}
</section>

<section id="contribute" class="wrapper style1 special">
  {% include sections/contribute.html %}
</section>

<section id="resources" class="wrapper style2 special">
  {% include sections/resources.html %}
</section>
-->
<section id="feedback" class="wrapper style2 special">
  {% include sections/feedback.html %}
</section>


