---
layout: landing
---

<section id="banner">
  <div class="inner">
    <h2>{{ site.title }}</h2>
    <p>{{ site.description | markdownify }}</p>
    <p><a href="get-mariner" class="button special">Get Mariner</a></p>
  </div>
  <a href="#about-mariner" class="more scrolly">Scroll for more</a>
</section>

<section id="about-mariner" class="wrapper style1 special">
  {% include sections/about-mariner.html %}
</section>
<section id="get-mariner" class="wrapper alt style2">
  {% include sections/get-mariner.html %}
</section>

<section id="documentation" class="wrapper alt style2">
{% include sections/documentation.html %}
</section>

<section id="contribute" class="wrapper alt style2">
  {% include sections/contribute.html %}
</section>
<section id="resources" class="wrapper alt style2">
  {% include sections/resources.html %}
</section>

<!--
<section id="rsvp" class="wrapper style3 special" style="background-color: #fffafa">
  {% include sections/rsvp.html %}
</section>
-->

