<section class="spotlight" style="background: #808080">
  <div class="image">
    <h2 style="float:right; margin-top:4em;">Microsoft Mariner</h2>
    <img src="images/mariner.png" style="margin-left:4em;float:left; height:150px; width:150px;" alt="Mariner Boot Splash Screen" />
  </div>
  <div class="content">
	  <p>Mariner is a CentOS-compatible, general-purpose, open-source Linux distribution that is being developed by Microsoft to power various use cases ranging from Azure services to IoT products.</p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/woods.jpg" alt="candid shot of amye eating" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/milan2.jpg" alt="Amye and Jim in Milan Italy" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/winery.jpg" alt="Amye and Jim at a Portland winery" />
  </div>
</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->	
</section>

