<!--
<section id="banner" style="justify-content:flex-start; padding-top:2em;">
    <p>Mariner core: Just enough core offering that will support a variety of profiles (Azure VM or on bare-metal x64 or
        ARM64) and allows the customer to build on top of it as needed.</p>
    <p>Efficient lifecycle management: Mariner supports both RPM package and image-based update mechanisms, including
        support for OSTree style rollbacks. It will be provided with an "evergreen" release alongside specific
        security-patched stable snaps.</p>
    <p>Security hardened: The kernel and other aspects of the OS are built with an emphasis on security and will follow
        the secure-by-default principle and compliant with Microsoft security standards and industry certifications.</p>
    <p>Federated Builds: Enables teams to innovate on top by allowing the generation and maintenance of packages on top
        of the Mariner builds.</p>
    <p>Support for containers: Mariner will support both a container host image that will include Docker and Kubernetes
        infrastructure as well as a container image that can be used as the base image for app development.</p>
</section>
-->
<section id="banner" style="justify-content:flex-start; padding-top:2em;">
    <p> To include more information on Mariner.</p>
</section>