<section id="banner" style="justify-content:flex-start; padding-top:2em;">
  <div class="inner"> 
    <h1>About Mariner</h1>
	  <p>Mariner is a CentOS-compatible, general-purpose, open-source Linux distribution that is being developed by Microsoft to power various use cases ranging from Azure services to IoT products.</p>
  </div>
  <a href="#get-mariner" class="more scrolly">Get Mariner</a>
</section>

<!--
<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/woods.jpg" alt="candid shot of amye eating" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/milan2.jpg" alt="Amye and Jim in Milan Italy" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/winery.jpg" alt="Amye and Jim at a Portland winery" />
  </div>
</section>


  <div class="image">
    <h2 style="float:right;"> About Mariner</h2>
  </div>
  <div class="content">
	  <p>Mariner is a CentOS-compatible, general-purpose, open-source Linux distribution that is being developed by Microsoft to power various use cases ranging from Azure services to IoT products.</p>
  </div>
-->
