---
layout: landing
---

<section id="banner" style="justify-content:center; height:100vh;">
  <div class="inner"> 
    <h2 href="images/mariner.png">
      <img src="images/mariner.png" style="margin-bottom:-15px; margin-right:15px; height:2em; width:auto;">
      {{ site.title }}
    </h2>
    <p>{{ site.description | markdownify }}</p>
    <p><a href="get-mariner" class="button special">Get Mariner</a></p>
  </div>
  <a href="#about-mariner" class="more scrolly">About Mariner</a>
</section>

<section id="about-mariner" class="wrapper style1 special">
  {% include sections/about-mariner.html %}
</section>

<section id="get-mariner" class="wrapper style2 special">
  {% include sections/get-mariner.html %}
</section>

<section id="documentation" class="wrapper style1 special">
{% include sections/documentation.html %}
</section>

<section id="contribute" class="wrapper style2 special">
  {% include sections/contribute.html %}
</section>

<section id="resources" class="wrapper style1 special">
  {% include sections/resources.html %}
</section>

<section id="contact" class="wrapper alt style2">
  {% include sections/contact.html %}
</section>
<!--
<section id="rsvp" class="wrapper style3 special" style="background-color: #fffafa">
  {% include sections/rsvp.html %}
</section>
-->

