<section id="banner" style="justify-content:flex-start; padding-top:2em; text-align: center;">
  <div class="inner">
    <h1>About Mariner</h1>
    <p>Mariner is an open-source, RPM-based, general purpose Linux distribution that is being developed by Microsoft to
      power cloud computing platforms, cloud-native applications, and other future looking projects.</p>
    <p>Mariner is very versatile. It scales from secure, headless, container host OS scenarios to small, bare metal,
      edge devices to large, server class hardware.</p>
  </div>
  <p><a href="https://dev.azure.com/mariner-org/mariner/_wiki/wikis/mariner.wiki/1/Readme-(Internal)"
      class="button special">
      Learn More About Mariner</a>
  </p>
  <a href="#get-mariner" class="more scrolly">Get Mariner</a>
</section>