<!-- <section class="spotlight">
  <div class="image">
    <img src="images/jupiter-next.jpg" alt="Jupiter Hotel" />
  </div>
  <div class="content">
    <h2>Hotel and discount code</h2>
  <p>We've made arrangements with the Jupiter Next hotel in Portland to be able to offer a special discount code for those of you coming into town for the wedding. If you're interested in booking your hotel stay as part of our room block, please visit the link below, and use <em><strong>wedding</strong></em> as the discount code. </p>
  <p align="center"><a href="https://jupiterhotel.com/" class="button special icon fa-bed">Jupiter Hotel</a></p>
  </div>
</section> -->

<section id="banner" style="justify-content:flex-start; padding-top:2em;">
	<div class="inner">
		<h1>Contribute</h1>
		<p>The Mariner team welcomes contributions from our community</p>
	</div>
	<a href="#contact" class="more scrolly">Contact Us</a>
</section>
