<section class="spotlight" style="background: #808080">
  <div class="image">
    <img src="images/cherryblossom.jpg" alt="Jim and Amye at California Coast" />
  </div>
  <div class="content">
    <h2>Amye and Jim</h2>
	<p>Amye and Jim share a passion for travel, fun food, and generally enjoying life together. Jim plans to be a stay-at-home husband just as soon as Amye finishes law school, while Amye uses Jim's height to reach things in the upper cabinets. They look forward to trolling each other for many years to come.  </p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/woods.jpg" alt="candid shot of amye eating" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/milan2.jpg" alt="Amye and Jim in Milan Italy" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/winery.jpg" alt="Amye and Jim at a Portland winery" />
  </div>
</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->	
</section>

