<section id="banner" style="justify-content:flex-start; padding-top:2em;">
  <div class="inner"> 
    <h1>Get Mariner</h1>
	  <p>Mariner currently offers Mariner Monthly Builds for x64 and ARM64 per monthly release cycle.</p>
  </div>
  <a href="#documentation" class="more scrolly">Documentation</a>
</section>
<!--
<div class="spotlight">
  <div class="section-title">
	  
    <h2>Get Mariner</h2>
    <p></p>
	
	<p>Laurelhurst Park<br>
	SE 33 Ave &amp; SE Pine<br>
	Portland, Oregon 97214</p>
	<p>
	3:30 PM - Venue Opens<br>
	4:00 PM - Ceremony<br>
	5:00 PM - The Captured Beer Bus<br>
	7:00 PM - 10:00 PM - Reception
	</p>
	<p>Share photos with the hashtag <strong>#ohgodwhathaveidone</strong></p>
  </header>
</div>-->
