<section id="banner" style="justify-content:flex-start; padding-top:2em; text-align: center;">
  <div class="inner"> 
    <h1>Try Mariner</h1>
    <p>Mariner currently offers Mariner Monthly Builds for x64 and ARM64 per monthly release cycle. <br> Click on the button below to download our latest Mariner OS ISO build.</p>
  </div>
  <p><a href="https://dev.azure.com/mariner-org/_apis/resources/Containers/4592513?itemPath=Mariner%20FULL%20ISO/full-1.0.MM4.200512.1840.iso" class="button special">
    Try Mariner Now</a>
  </p>
<a href="#feedback" class="more scrolly">Feedback</a>
</section>
