<section class="spotlight">
  <div class="image">
    <img src="images/bus.jpg" alt="Captured beer bus food cart" />
  </div>
  <div class="content">
    <h2>The Reception</h2>
  <p>Immediately following the wedding ceremony in the park, we will be relocating to the "Captured Beer Bus" and food carts at 28th and Ankeny, just beside Vino. </p>
  <p>The carts offer a wide assortment of foods, and despite the name "Captured Beer Bus" there are a number of non-alcoholic options as well.</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/jupiter.jpg" alt="Jupiter Hotel outdoor patio" />
  </div>
  <div class="content">
    <h2>Cake in the Secret Garden</h2>
  <p>A bit later in the evening after everyone's had a chance for dinner, conversation, and maybe a rest there will be a cake reception at the Secret Garden in the Jupiter Next hotel. As this is the one semi-indoor part of the wedding, space is limited and we'd appreciate if attendees could RSVP so we can coordinate with the hotel. </p>
  </div>
</section>
