<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->	
</section>
<section class="spotlight">
    <div class="image">
      <img src="images/habitat.jpg" alt="Habitat for Humanity logo" />
    </div>
    <div class="content">
      <h2>Our Registry</h2>
      <p> We're doing something a bit different for our wedding registry. We've worked hard to build our home in Portland, but we recognize that we've been fortunate. For our wedding, we'd like you to help us build a home for someone else.</p>
      <p>Instead of buying us gifts, we'd like you to donate to Habitat for Humanity to help provide household items for 15 families in the Cully neighborhood of Portland near us. By donating, you'll be helping to buy items like microwaves, vacuum cleaners and other household items we tend to take for granted. </p>
      <table id="registry">
        <thead>
          <tr>
            <th>Donation Target</th>
            <th>15 families will get</th>
          </tr>
          </thead>
          <tr><td>$600</td><td>Welcome gift basket of cleaning supplies</td></tr>
          <tr><td>$900</td><td>Stainless steel silverware set</td></tr>
          <tr><td>$1050</td><td>Coffee maker</td></tr>
          <tr><td>$2250</td><td>Cookware set</td></tr>
          <tr><td>$3000</td><td>Vacuum Cleaner</td></tr>
      </table>
      <p>Please help us give 15 families a head start on building a home of their own by donating via the link below. On the donation page, please use the honor donation type, and use <em><strong>SPWedding</strong></em> as the name of the honoree.</p>
      <p align="center"><a href="https://donate.habitatportlandmetro.org/" class="button special icon fa-gift">Habitat Registry</a></p>
    </div>
  </section>
